version: '3.4'

services:
  codecamp:
    image: codecamp
    build:
      context: .
      dockerfile: ./Dockerfile
    environment:
      NODE_ENV: production
    ports:
      - 3111:3111
      - 9229:9229
    command: ["NODE_ENV=production","node", "--inspect=0.0.0.0:9229", "server.js"]
